# Core pipeline
torch>=2.7.0
torchvision
torchaudio

# HuggingFace
transformers>=4.47.0
accelerate
huggingface_hub
safetensors
tokenizers

# OmniSVG dependencies
cairosvg
cairocffi
qwen-vl-utils
einops
sentencepiece
tiktoken
scipy
numpy
Pillow
moviepy==1.0.3
shapely
scikit-image
opencv-python
matplotlib
rdp
torch-fidelity
ipython

# Utilities
tqdm
requests